body {
  margin: 0;
  padding: 0;
}

/*
.Video-Background{
  background-clip: url(rr.mp4);
  background-repeat: repeat-x;
  background-position: center;
  
}
.video-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  
}
*/
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 100px 0;
  color: #5c43a7;
}



.navbar a {
  color: white;
  margin-right: 10px;
}

.navbar a:hover {
  text-decoration: underline;
}


/* Navigation.css */

.navbar {
  background-color:darkblue; /* Set your desired background color */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  color:goldenrod;
  cursor: pointer;
  font-style:inherit;
  
  
}

.nav-links {
  display: flex;
}

.nav-button {
  margin-left: 10px;
  font-size: 1rem;
  color: rgb(144, 36, 36);
  transition: color 0.3s ease; /* Add a smooth color transition effect */
}

.nav-button:hover {
  color: #e46767; /* Change the color on hover */
  
}

.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

.img-fluid1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 10%;
  min-height: 20%;
  width: auto;
  height: auto;
  z-index: -1;
}


.VideoComponent{
  background-clip: url(luxury.mp4);
  background-repeat: repeat-x;
  background-position: center;
  position: fixed;
  width:50%;
  height: 50%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  
}


.image{
  background-image: url(room2.jpg);
  background-position: center;
  margin-left: 2px;
  width: 1200px;
  height: 1px;
}

.landing {
  margin-top: 100px;
}

.card {
  max-width: 600px;
  margin: auto;
}

.tab-label {
  color: white !important;
  
}

.tab-labell {
  color: white !important;
}




